---
---

@import "{{ site.theme }}";

.wrapper {
//   display: flex;
//    flex-direction: row;
//   flex-wrap: wrap;
// // //   flex-direction: column;
// //   justify-content: space-evenly;
//   justify-content: center;
//   justify-content: space-evenly;
  
  flex-direction: row;
    justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

body {
  padding: 25px;
  background-color: #171941;
  transform: scale(0.9)
}

@keyframes m_w_booting {
//   from {background-color: red;}
//   to {background-color: yellow;}
    from {background-size: contain;}
    to {background-size: cover;}
   
}

header {  

  height: 600px;
  width: 18%;
  background: #171941;
  box-shadow:  12px 12px 22px #121433, 
               -12px -12px 22px #1c1f4f;
    // background-image: url(https://raw.githubusercontent.com/0x404-6dE/0x404-6dE.github.io/master/assets/torso_seedsman.jpg);
    // background-image: url(https://raw.githubusercontent.com/0x404-6dE/0x404-6dE.github.io/before-cut/assets/side_graphic_green.jpg);
    background-image: url(https://raw.githubusercontent.com/0x404-6dE/0x404-6dE.github.io/before-cut/assets/side_graphic.jpg);
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-blend-mode: exclusion;
    border-radius: 7px;

  
  h1 {
    display: none; // TODO: tempo-rary
  }
  
  p {
    display: none; // TODO: tempo-rary
  }
}

section {
//   width: 75%;
//   float: right;
//   padding-bottom: 50px;
//   color: #ffffff78;
     width: 75%;
//       width: 100%;
//     float: right;
//     padding-bottom: 50px;
//     color: #000000bd;
//     background-color: #0000ff80;
//     padding: 25px;
//   justify-self: center;
  padding-left: 25px;
  padding-right: 25px;
    color: #ffffff5c;
}

footer {
    display: none 
}

p {
padding: 20px;
    margin: 0px;
//     font-size: 1.5em;
      font-size: 1.25em;
//     background-color: #03ff2929;
//       background-color: #0613081a;
   background-color:#10e3ff1a;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 0px;
    margin: 20px 0 20px;
}

a {
//     color: #27ff00;
  color: #00b8ff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #15b3ff;
}

strong {
//   color: #fff;
//   font-weight: 700;
//   font-size: 1.25em;
//   font-size: 1.125em;
      color: #fff;
    font-weight: 500;
//       font-weight: 600;
}

@keyframes m_w_engage_rainbow {
//   from {background-color: red;}
//   to {background-color: yellow;}
  

  
//    0%   {color: #ff5f01; background-color: #073b4e42;}
     0%   {color: #ff5f01; background-color: #ff00003d;}
  25%  {color: #ffeb01; background-color: #ff00003d;}
  50%  {color: #00ff37; background-color: #ff00003d;}
  75%  {color: #00dcff; background-color: #ff00003d;}
  100% {color: #0195ff; background-color: #ff00003d;}
  
  
//     0%   {background-color:red; left:0px; top:0px;}
//   25%  {background-color:yellow; left:200px; top:0px;}
//   50%  {background-color:blue; left:200px; top:200px;}
//   75%  {background-color:green; left:0px; top:200px;}
//   100% {background-color:red; left:0px; top:0px;}
   
}

pre {
//     /* padding: 8px 15px; */
// //     background: #f8f8f800;
//     border-radius: 5px;
// //     border: 1px solid #e5e5e500;
//   border: 15px solid #000000;
//     overflow-x: auto;
//     color: white;
//   margin-bottom: 0px;
//      animation: m_w_engage_rainbow 12s infinite;
// //     animation-duration: 12s;
    border-radius: 0px;
    border: 5px solid #000000;
    overflow-x: auto;
    color: white;
    margin-bottom: 0px;
    animation: m_w_engage_rainbow 12s infinite;
    /* transform: scale(.85); */
    font-size: .75em;
  background-color: #073b4e42;
}

//



 #wwwmemewars--skale-- {
// #wwwmemewars---skale-- {
// //   background-color: white;
// //   padding: 15px;
// //   color: #020000;
//   font-size: 3em;
//     background-color: black;
//     color: white;
// //   color: #00dcff;
//     padding: 25px;
//     margin-bottom: 0px;
    
    
  display: flex;
//         display: none;
    flex-direction: row;
    justify-content: center;
    font-size: 3em;
    background-color: black;
    color: white;
    /* padding: 25px; */
    /* font-size: 2em; */
    /* background-color: black; */
    /* color: #00dcff33; */
    /* padding: 25px; */
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

// #integration-details----devthoughts {
#integration-details-----devthoughts {
      display: flex;
    flex-direction: row;
    justify-content: center;
  
//     font-size: 2em;
//     background-color: black;
//     color: #00dcff33;
//     padding: 25px;
//     margin-bottom: 20px;
  
  font-size: 2em;
    background-color: black;
    color: #00dcff33;
    /* padding: 25px; */
//     padding-top: 10px;
  padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

// #tldr-its-time-to-pay-attention-to-the-futures-being-constructed-on-ethereum {
// #tldr-futures-are-being-constructed-on-ethereum {
// #tldr-the-internets-future-is-being-constructed-on-ethereum-today {
// #tldr-a-future-internet-is-being-built-on-ethereum--accelerated-by-skale {
#tldr-a-future-internet-is-being-built-on-ethereum--skale {
  width: 100%;
  
     font-size: 1.35em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 0px;
    background: #17194100;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    color: #ff9901;
  
  em {
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ffff008f;
    padding: 20px;
    padding-left: 25px;
    margin-bottom: 0px;
    color: black;
    
    strong {
      margin-right: 10px;
//           color: #171941;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
//     border-radius: 7px;
//     background: #999a1d;
//     box-shadow: 6px 6px 12px #7d7e18, -6px -6px 12px #b5b622;
      
    }
  }
  
//   em {
    
//   }
}

/*********************** ------------------------------  Messing with lists for introductions */

.highlight {
  
}


/*********************** ------------------------------ */


/*********************** ------------------------------ */

#postTop {
  display: flex;
    flex-direction: column;
    background: black;
    padding-left: 10px;
}

#title {
//     display: flex;
// //         display: none;
//     flex-direction: row;
//     justify-content: center;
//     font-size: 3em;
//     background-color: black;
//     color: white;
//     /* padding: 25px; */
//     /* font-size: 2em; */
//     /* background-color: black; */
//     /* color: #00dcff33; */
//     /* padding: 25px; */
//     padding-top: 25px;
//     padding-left: 20px;
//     padding-bottom: 10px;
//     margin-bottom: 0px;
//     margin-bottom: 0px;
  display: flex;
    flex-direction: row;
    /* justify-content: center; */
    font-size: 3em;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-left: 20px;
    /* padding-bottom: 10px; */
    margin-bottom: 0px;
    margin-bottom: 0px;
}
  

#subtitle {
  display: inline;
    font-size: 2em;
    background-color: black;
//     color: #00dcff33;
 color: #ffffff61;
    /* padding: 25px; */
//     padding-top: 10px;
  padding-top: 25px;
    padding-left: 20px;
//     padding-bottom: 25px;
  padding-bottom: 20px;
    margin-bottom: 0px;
}

#introductionsSKALE {
display: flex;
    background-color: #0789c2;
    padding: 15px;
    font-size: 1.25em;
    background-image: url(https://images.prismic.io/skalelabs/eb94376c-4e95-4a9b-9999-bdf00cb8f053_Skale_Logo_Black.png?auto=compress,format);
    background-size: contain;
    background-blend-mode: saturation;
    background-repeat: no-repeat;
     background-position-x: right;
    background-position-y: center;
}

#introductions {
  //MW:
  
display: flex;
    background-color: #0789c2;
    padding: 15px;
    font-size: 1.25em;
//     background-image: url(https://raw.githubusercontent.com/0x404-6dE/0x404-6dE.github.io/master/assets/black_bg.jpg);
      background-image: url(https://raw.githubusercontent.com/0x404-6dE/0x404-6dE.github.io/master/header_logo.png);
 
    background-size: contain;
    /* background-position: center right; */
    background-position-x: right;
    background-position-y: center;
background-blend-mode: hue;
    background-repeat: no-repeat;
  
}
 
// #introductions {
//   // SKALE: (todo: target first introduction instance with M-W preset
//       display: flex;
//     background-color: #999a1d;
//     padding: 20px;
//     font-size: 1.25em;
//     background-image: url(https://findvectorlogo.com/wp-content/uploads/2019/11/skale-labs-vector-logo.png);
//     background-size: cover;
//     background-blend-mode: screen;
//     background-repeat: no-repeat;
//     background-position-y: center;
//     /* background-attachment: scroll; */
// }

#introductionsTitleSKALE {
//     /* background-color: #171941; */
//     color: #171941;
//     font-weight: 700;
//     font-size: 1.5em;
//   background-color: #0789c2;
// //     border-radius: 7px;
// //     background: #999a1d;
// //     box-shadow: 6px 6px 12px #7d7e18, -6px -6px 12px #b5b622;
// //   padding: 10px;
  
//   border-radius: 6px;
// background: linear-gradient(145deg, #0793d0, #067baf);
// box-shadow:  5px 5px 12px #044765, 
//              -5px -5px 12px #0acbff;
//       padding: 15px;
//     margin: 5px;
 /* color: #171941; */
    font-weight: 700;
    font-size: 1.5em;
    background-color: #0789c200;
    /* border-radius: 6px; */
    background: linear-gradient(145deg, #0793d0, #067bafc4);
box-shadow: 5px 5px 12px #0000008f, -5px -5px 12px #00000000;
//     padding: 20px;
      padding: 22px;
    margin: 5px;
  background-position-x: right;
    background-position-y: center;
  
}

#introductionsTitle {
    /* background-color: #171941; */
    /* color: #171941; */
    font-weight: 700;
    font-size: 1.5em;
  background-color: #0789c2;
//     border-radius: 7px;
//     background: #999a1d;
//     box-shadow: 6px 6px 12px #7d7e18, -6px -6px 12px #b5b622;
//   padding: 10px;
  
//   border-radius: 6px;
// background: linear-gradient(145deg, #0793d0, #067baf);
box-shadow:  5px 5px 12px #044765, 
             -5px -5px 12px #0acbff00;
//       padding: 15px;
        padding: 10px;
//     margin: 5px;
  
  
}

#introduction-instance-title {
    font-size: 2.5em;
    background-color: #00beffad;
    font-weight: 600;
    padding: 15px;
    color: white;
      margin-bottom: 0px;
}

#introduction-instance-subtitle {
//     display: inline;
// //     font-size: .75em;
//       font-size: .65em;
//     background-color: #00beff00;
//     font-weight: 500;
//     color: #ffffff3b;
      display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: .6em;
    background-color: #00beff00;
    font-weight: 500;
    color: #ffffffe0;
}

#elastic-sidechains {
  display: inline;
   font-style: italic;
  margin-right: 5px;
}

#introducingName { 
//   display: inline; // TODO
  font-size: 2em;
  color: white;
  font-weight: 700;
}

#in-depth-section {
    display: flex;
    background-color: #00ff78;
    padding: 15px;
    font-size: 1.25em;
//  background-image: url(https://raw.githubusercontent.com/0x404-6dE/0x404-6dE.github.io/master/assets/black_bg.jpg);
    background-image: url(https://raw.githubusercontent.com/0x404-6dE/0x404-6dE.github.io/master/header_logo.png);
    background-size: contain;
    /* background-position: center right; */
    background-position-x: right;
    background-position-y: center;
    background-blend-mode: color;
    background-repeat: no-repeat;
}

#in-depth-section-title {
    font-weight: 700;
    font-size: 1.5em;
    background-color: #00ff78;
    color: #504545;
    box-shadow:  5px 5px 12px #00d966, 
             -5px -5px 12px #00ff8a;

    padding: 10px;
}
  


/*********************** ------------------------------ */

pre {
    border: 5px solid #000000;
    overflow-x: auto;
    font-size: 0.55em;
    padding: 30px;
}

/*********************** ------------------------------ */

@media (min-width: 0px) and (max-width: 319px) {
  header {
    width: 0%
  }
  
  section {
    width: 100%;
  }
  
  pre {
    border: 5px solid #000000;
    overflow-x: auto;
    font-size: 0.35em;
    padding: 10px;
}
}

@media (min-width: 320px) and (max-width: 465px) {
  
  header {
    width: 0%
  }
  
    section {
    width: 100%;
  }
  
  pre {
    border: 5px solid #000000;
    overflow-x: auto;
    font-size: 0.45em;
    padding: 10px;
}
}

@media (min-width: 466px) and (max-width: 768px) {
  
   header {
    width: 0%
  }
  
    section {
    width: 100%;
  }
  
  pre {
    border: 5px solid #000000;
    overflow-x: auto;
    font-size: 0.55em;
    padding: 15px;
}
}

@media (min-width: 769px) and (max-width: 1366px) {
  
   header {
    width: 18%;
  }
  
    section {
    width: 75%;
  }
  
  pre {
    border: 5px solid #000000;
    overflow-x: auto;
    font-size: 0.55em;
    padding: 20px;
}
}

@media (min-width: 1367px) {
  
   header {
    width: 18%;
  }
  
   section {
    width: 75%;
  }
  
  pre {
    border: 5px solid #000000;
    overflow-x: auto;
    font-size: 0.75em;
    padding: 30px;
  }
}


/*********************** ------------------------------ */


@media (min-width: 0px) and (max-width: 319px) {
}

@media (min-width: 320px) and (max-width: 465px) {
}

@media (min-width: 466px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1366px) {
}

@media (min-width: 1367px) {
}
